In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [2]:
types_df = pd.read_csv("../Resources/ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [3]:
# set up additional columns to hold information
types_df["name"]= ""
types_df["address"]=""
types_df["price_level"]=""
types_df["rating"]=""

types_df.head()

  ethnicity name address price_level rating
0   chinese
1     cuban
2     czech
3    french
4    german

In [5]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "location": "39.952583,-75.16522",  # philadelphia coords
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}


# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():
    
    # get restaurant type from df
    restr_type = row['ethnicity']
    
    # add keyword to params dict
    params['keyword'] = restr_type
    
    # assemble url and make API request
    response = requests.get(base_url,params).json()
    
    # extract results
    results = response['results']
    
    try:
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result...skipping")
        
    print("-----------------")

-----------------
-----------------
-----------------
-----------------
-----------------
-----------------
-----------------
-----------------
-----------------
-----------------
-----------------
-----------------
Missing field/result...skipping
-----------------
Missing field/result...skipping
-----------------
-----------------
-----------------
-----------------
-----------------
-----------------
-----------------
-----------------
-----------------
-----------------
-----------------
Missing field/result...skipping
-----------------
Missing field/result...skipping
-----------------
Missing field/result...skipping
-----------------
-----------------
-----------------
-----------------

In [6]:
types_df

,ethnicity,name,address,price_level,rating
0,chinese,Su Xing House,"1508 Sansom St, Philadelphia",2,4.4
1,cuban,Aqimero,"10 Ave Of The Arts, Philadelphia",3,4.3
2,czech,Brü Craft & Wurst,"1318 Chestnut St, Philadelphia",2,4.2
3,french,Amuse,"1421 Arch St, Philadelphia",4,3.9
4,german,Brü Craft & Wurst,"1318 Chestnut St, Philadelphia",2,4.2
5,greek,CAVA,"1713 Chestnut St, Philadelphia",1,4.4
6,haitian,Homestyle Caribbean and American Restaurant,"6051 Woodland Ave, Philadelphia",1,4.4
7,hungarian,Abe Fisher,"1623 Sansom St, Philadelphia",3,4.7
8,indian,Amma's South Indian Cuisine,"1518 Chestnut St, Philadelphia",2,4.3
9,indonesian,Martabak Ok,"1801 Washington Ave unit d, Philadelphia",2,4.9
10,irish,McGillin's Olde Ale House,"1310 Drury St, Philadelphia",1,4.4
11,israeli,Abe Fisher,"1623 Sansom St, Philadelphia",3,4.7
12,italian,Dolce Italian - Philadelphia,"1437 Chestnut St, Philadelphia",,
13,japanese,Mai Sushi,"1500 John F Kennedy Blvd, Philadelphia",,
14,jewish,Su Xing House,"1508 Sansom St, Philadelphia",2,4.4
15,korean,Rice & Mix,"128 S 12th St, Philadelphia",2,4.4
16,lebanese,NAYA PHILLY,"1601 Market St, Philadelphia",1,4.5
17,mexican,Mission Taqueria,"Above Oyster House, 1516 Sansom St 2nd Floor, ...",2,4.5
18,new american,Aqimero,"10 Ave Of The Arts, Philadelphia",3,4.3
19,pakistani,Villekebabs & platters,"1722 Sansom St, Philadelphia",2,4.8
20,polish,Brü Craft & Wurst,"1318 Chestnut St, Philadelphia",2,4.2
21,russian,1225Raw Sushi and Sake Lounge,"1225 Sansom St, Philadelphia",2,4.5
22,scandinavian,Abe Fisher,"1623 Sansom St, Philadelphia",3,4.7
23,scottish,Parkside Beef & Ale,"1433 Arch St, Philadelphia",2,4.1
24,soul food,Nothing But Love Soulfood Catering #2,"1635 Market St suite 1600, Philadelphia",,
25,spanish,Sabroso+Sorbo,"21 N Juniper St, Philadelphia",,
26,thai,Chatayee Thai,"1227 Walnut St, Philadelphia",,
27,turkish,CAVA,"1713 Chestnut St, Philadelphia",1,4.4
28,ukrainian,Almaz Cafe,"140 S 20th St, Philadelphia",1,4.6
29,vietnamese,Pho Street,"1230 Arch St, Philadelphia",1,4.4