## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt
import numpy as np
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C://Users/Carlos/BootCamp/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Date
0,0,Hermanus,ZA,-34.4187,19.2345,49.37,73,1,4.81,clear sky,2022-07-21 04:54:12
1,1,Tommot,RU,58.9564,126.2925,78.12,56,25,4.83,light rain,2022-07-21 04:58:43
2,2,Severo-Kurilsk,RU,50.6789,156.1250,52.27,97,99,15.50,overcast clouds,2022-07-21 04:58:44
3,3,Ixtapa,MX,20.7000,-105.2000,78.53,95,63,2.80,broken clouds,2022-07-21 04:58:44
4,4,Albany,US,42.6001,-73.9662,79.18,75,16,4.59,few clouds,2022-07-21 04:58:44

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Date
1,1,Tommot,RU,58.9564,126.2925,78.12,56,25,4.83,light rain,2022-07-21 04:58:43
3,3,Ixtapa,MX,20.7000,-105.2000,78.53,95,63,2.80,broken clouds,2022-07-21 04:58:44
4,4,Albany,US,42.6001,-73.9662,79.18,75,16,4.59,few clouds,2022-07-21 04:58:44
6,6,Sao Felix Do Xingu,BR,-6.6447,-51.9950,74.17,53,88,1.48,overcast clouds,2022-07-21 04:58:45
7,7,Ust-Nera,RU,64.5667,143.2000,71.33,57,100,7.72,overcast clouds,2022-07-21 04:58:45
9,9,Ca Mau,VN,9.1769,105.1500,80.82,84,100,5.59,overcast clouds,2022-07-21 04:58:46
10,10,Jacareacanga,BR,-6.2222,-57.7528,77.20,57,90,0.87,overcast clouds,2022-07-21 04:58:46
12,12,Yumen,CN,40.2833,97.2000,73.92,24,11,15.95,few clouds,2022-07-21 04:49:27
13,13,Kapaa,US,22.0752,-159.3190,80.19,79,16,4.00,few clouds,2022-07-21 04:58:47
19,19,Tessalit,ML,20.1986,1.0114,80.24,52,50,14.05,scattered clouds,2022-07-21 04:58:49

In [5]:
# 4a. Determine if there are any empty rows.

# used count of DF to see if there were nulls, all numbers are the same, so no nulls present.
preferred_cities_df.count()

City_ID        340
City           340
Country        340
Lat            340
Lng            340
Max Temp       340
Humidity       340
Cloudiness     340
Wind Speed     340
Description    340
Date           340
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# No nulls above, double checked below with a "isnull.sum" to return the number of missing values in the data set. still
# zero. Printed it out so that i can view it and clean_df at same time.
print(preferred_cities_df.isnull().sum())
# Step 5a provided code refers to "clean_df" so I set it to preferred_cities_df since it was already clean.
clean_df = preferred_cities_df
# printed out the first 10 rows of clean_df
print (clean_df.head(10))

City_ID        0
City           0
Country        0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
Date           0
dtype: int64
    City_ID                City Country      Lat       Lng  Max Temp  \
1         1              Tommot      RU  58.9564  126.2925     78.12
3         3              Ixtapa      MX  20.7000 -105.2000     78.53
4         4              Albany      US  42.6001  -73.9662     79.18
6         6  Sao Felix Do Xingu      BR  -6.6447  -51.9950     74.17
7         7            Ust-Nera      RU  64.5667  143.2000     71.33
9         9              Ca Mau      VN   9.1769  105.1500     80.82
10       10        Jacareacanga      BR  -6.2222  -57.7528     77.20
12       12               Yumen      CN  40.2833   97.2000     73.92
13       13               Kapaa      US  22.0752 -159.3190     80.19
19       19            Tessalit      ML  20.1986    1.0114     80.24

    Humidity  Cloudiness  Wind Speed       Description                 Date
1         56          25        4.83        light rain  2022-07-21 04:58:43
3         95          63        2.80     broken clouds  2022-07-21 04:58:44
4         75          16        4.59        few clouds  2022-07-21 04:58:44
6         53          88        1.48   overcast clouds  2022-07-21 04:58:45
7         57         100        7.72   overcast clouds  2022-07-21 04:58:45
9         84         100        5.59   overcast clouds  2022-07-21 04:58:46
10        57          90        0.87   overcast clouds  2022-07-21 04:58:46
12        24          11       15.95        few clouds  2022-07-21 04:49:27
13        79          16        4.00        few clouds  2022-07-21 04:58:47
19        52          50       14.05  scattered clouds  2022-07-21 04:58:49

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

#I had to change the "Current Description" value to "Description" so it matched what I had in my DF.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

#I then renamed the column to the expected value: "Current Description".
hotel_df.rename(
    columns={"Description":"Current Description"}
          ,inplace=True)


# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Tommot,RU,78.12,light rain,58.9564,126.2925,
3,Ixtapa,MX,78.53,broken clouds,20.7000,-105.2000,
4,Albany,US,79.18,few clouds,42.6001,-73.9662,
6,Sao Felix Do Xingu,BR,74.17,overcast clouds,-6.6447,-51.9950,
7,Ust-Nera,RU,71.33,overcast clouds,64.5667,143.2000,
9,Ca Mau,VN,80.82,overcast clouds,9.1769,105.1500,
10,Jacareacanga,BR,77.20,overcast clouds,-6.2222,-57.7528,
12,Yumen,CN,73.92,few clouds,40.2833,97.2000,
13,Kapaa,US,80.19,few clouds,22.0752,-159.3190,
19,Tessalit,ML,80.24,scattered clouds,20.1986,1.0114,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    try:    
        # Get the latitude and longitude.
        lat = row["Lat"]
        lng = row["Lng"]

        # 6c. Get latitude and longitude from DataFrame

        # Add the latitude and longitude to location key for the params dictionary.
        params["location"] = f"{lat},{lng}"    

        # 6d. Set up the base URL for the Google Directions API to get JSON data.

        # Use the search term: "lodging" and our latitude and longitude.
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        # 6e. Make request and retrieve the JSON data from the search.

        # Make request and get the JSON data from the search.
        hotels = requests.get(base_url, params=params).json()

        # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.

#check for missing records.
print(hotel_df.head(10))

# I couldnt get rid of nulls at first so referenced the following site to see how to replace my "Hotel Name" blanks 
# with nan which i could remove with a dropna function: 
# https://stackoverflow.com/questions/55426692/how-to-handle-empty-cells-that-pandas-does-not-recognize
hotel_df['Hotel Name']=hotel_df['Hotel Name'].str.strip().replace('',np.nan)

#confirm NaN are now present under "Hotel Name" 
hotel_df.head(10)

# Use dropna function to ensure all NaN are dropped from data frame, set it to new df called hotel_df_clean
hotel_df_clean = hotel_df.dropna()

# confirm that the drop NaN worked.
print(hotel_df_clean.head(10))

                  City Country  Max Temp Current Description      Lat  \
1               Tommot      RU     78.12          light rain  58.9564
3               Ixtapa      MX     78.53       broken clouds  20.7000
4               Albany      US     79.18          few clouds  42.6001
6   Sao Felix Do Xingu      BR     74.17     overcast clouds  -6.6447
7             Ust-Nera      RU     71.33     overcast clouds  64.5667
9               Ca Mau      VN     80.82     overcast clouds   9.1769
10        Jacareacanga      BR     77.20     overcast clouds  -6.2222
12               Yumen      CN     73.92          few clouds  40.2833
13               Kapaa      US     80.19          few clouds  22.0752
19            Tessalit      ML     80.24    scattered clouds  20.1986

         Lng                           Hotel Name
1   126.2925                    Gostinitsa Tommot
3  -105.2000                    hotel la terminal
4   -73.9662
6   -51.9950                    Rio Xingu Camping
7   143.2000                       Hotel Ust-Nera
9   105.1500      Mường Thanh Luxury Cà Mau Hotel
10  -57.7528                         Casa do Ian😎
12   97.2000
13 -159.3190  Sheraton Kauai Coconut Beach Resort
19    1.0114
                  City Country  Max Temp Current Description      Lat  \
1               Tommot      RU     78.12          light rain  58.9564
3               Ixtapa      MX     78.53       broken clouds  20.7000
4               Albany      US     79.18          few clouds  42.6001
6   Sao Felix Do Xingu      BR     74.17     overcast clouds  -6.6447
7             Ust-Nera      RU     71.33     overcast clouds  64.5667
9               Ca Mau      VN     80.82     overcast clouds   9.1769
10        Jacareacanga      BR     77.20     overcast clouds  -6.2222
12               Yumen      CN     73.92          few clouds  40.2833
13               Kapaa      US     80.19          few clouds  22.0752
19            Tessalit      ML     80.24    scattered clouds  20.1986

         Lng                           Hotel Name
1   126.2925                    Gostinitsa Tommot
3  -105.2000                    hotel la terminal
4   -73.9662                                  NaN
6   -51.9950                    Rio Xingu Camping
7   143.2000                       Hotel Ust-Nera
9   105.1500      Mường Thanh Luxury Cà Mau Hotel
10  -57.7528                         Casa do Ian😎
12   97.2000                                  NaN
13 -159.3190  Sheraton Kauai Coconut Beach Resort
19    1.0114                                  NaN
                  City Country  Max Temp Current Description      Lat  \
1               Tommot      RU     78.12          light rain  58.9564
3               Ixtapa      MX     78.53       broken clouds  20.7000
4               Albany      US     79.18          few clouds  42.6001
6   Sao Felix Do Xingu      BR     74.17     overcast clouds  -6.6447
7             Ust-Nera      RU     71.33     overcast clouds  64.5667
9               Ca Mau      VN     80.82     overcast clouds   9.1769
10        Jacareacanga      BR     77.20     overcast clouds  -6.2222
12               Yumen      CN     73.92          few clouds  40.2833
13               Kapaa      US     80.19          few clouds  22.0752
19            Tessalit      ML     80.24    scattered clouds  20.1986

         Lng                           Hotel Name
1   126.2925                    Gostinitsa Tommot
3  -105.2000                    hotel la terminal
4   -73.9662                                  NaN
6   -51.9950                    Rio Xingu Camping
7   143.2000                       Hotel Ust-Nera
9   105.1500      Mường Thanh Luxury Cà Mau Hotel
10  -57.7528                         Casa do Ian😎
12   97.2000                                  NaN
13 -159.3190  Sheraton Kauai Coconut Beach Resort
19    1.0114                                  NaN

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "C://Users/Carlos/BootCamp/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df_clean.to_csv(output_data_file, index_label="City_ID")

In [31]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd> and <dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df_clean.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df_clean[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df_clean[["Lat", "Lng"]]
max_temp = hotel_df_clean["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))