## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import matplotlib.pyplot as plt
import numpy as np
import os

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C://Users/Carlos/BootCamp/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Tommot,RU,78.12,light rain,58.9564,126.2925,Gostinitsa Tommot
1,3,Ixtapa,MX,78.53,broken clouds,20.7000,-105.2000,hotel la terminal
2,6,Sao Felix Do Xingu,BR,74.17,overcast clouds,-6.6447,-51.9950,Rio Xingu Camping
3,7,Ust-Nera,RU,71.33,overcast clouds,64.5667,143.2000,Hotel Ust-Nera
4,9,Ca Mau,VN,80.82,overcast clouds,9.1769,105.1500,Mường Thanh Luxury Cà Mau Hotel

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd> and <dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.



vacation_start = vacation_df.loc[vacation_df['City'] == "San Pedro De Macoris"]
vacation_end = vacation_df.loc[vacation_df['City'] == "San Pedro De Macoris"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Quisqueya"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Samana"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Santo Domingo"]

In [44]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

#https://stackoverflow.com/questions/31789160/convert-select-columns-in-pandas-dataframe-to-numpy-array
start = tuple(vacation_start[["Lat", "Lng"]].to_numpy()[0])
print(start)

end = tuple(vacation_end[["Lat", "Lng"]].to_numpy()[0])
print(end)

stop1 = tuple(vacation_stop1[["Lat", "Lng"]].to_numpy()[0])
print(stop1)

stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy()[0])
print(stop2)

stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy()[0])
print(stop3)

(18.4616, -69.2972)
(18.4616, -69.2972)
(18.5554, -69.4081)
(19.2056, -69.3369)
(18.5001, -69.9886)

In [45]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Latitude-longitude pairs preciously created, so i just listed them agian below

start
end
stop1
stop2
stop3

# Recodifed the example on the google documentation sheet.

fig = gmaps.figure()
start2end_via_stop1_stop2_stop3 = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(start2end_via_stop1_stop2_stop3)
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.


itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,561,San Pedro De Macoris,DO,77.40,clear sky,18.4616,-69.2972,Apartahotel Guaraguao
1,675,Quisqueya,DO,75.00,clear sky,18.5554,-69.4081,Pensión doña rosa
2,645,Samana,DO,78.78,few clouds,19.2056,-69.3369,The Bannister - Hotel & Yacht Club
3,261,Santo Domingo,DO,74.66,scattered clouds,18.5001,-69.9886,Cabañas City Heart

In [52]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd> and <dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [53]:
# 11a. Add a marker layer for each city to the map.

locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))